<section class="hdca-product-listing">
    <!-- Implementing async pipe for consuming observable -->
    <!-- Using ngIf structural directive -->
    <div class="hdca-product-grid" *ngIf="product$ | async as product">
        <div class="hdca-product-box-container" itemscope="" itemtype="http://schema.org/Product">
            <article class="hdca-product-box">
                <section class="hdca-product-box__header">
                    <div class="hdca-product-box__header-compare">
                        <div class="hdca-form-field">
                            <div class="hdca-form-field__container">
                                <label class="hdca-form-field__wrap-label" for="default-117">
                                    <div class="hdca-checkbox">
                                        <input type="checkbox" id="default-117" name="default-117"
                                            class="hdca-checkbox__checkbox" />
                                        <span class="hdca-checkbox__faux-checkbox"></span>
                                    </div>
                                    <span class="hdca-form-field__label-text">Compare</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="hdca-product-box__header-intro">
                        <div class="hdca-product-box__header-intro-img-box">
                            <!-- Implementing attribute binding for src of image -->
                            <img class="hdca-product-box__header-intro-img"
                                src="/assets/images/products/{{product.imageUrl}}" alt="can not find image"
                                itemprop="image" />
                        </div>
                        <div class="hdca-product-box__intro-badges">

                            <!-- Implementing ngFor structural directive to loop through badges array nested under product array -->
                            <!-- Also used property attribute binding ngSwitch -->
                            <ul *ngFor="let badge of product.badges" [ngSwitch]="badge">
                                <li *ngSwitchCase="'badge-ECO'">
                                    <svg class="hdca-product-box__badge-svg" aria-hidden="true">
                                        <use xlink:href="/assets/icons/product-en-sprite/svg/symbols.svg#badge-ECO">
                                        </use>
                                    </svg>
                                </li>
                                <li *ngSwitchCase="'badge-NLP'">
                                    <svg class="hdca-product-box__badge-svg" aria-hidden="true">
                                        <use xlink:href="/assets/icons/product-en-sprite/svg/symbols.svg#badge-NLP">
                                        </use>
                                    </svg>
                                </li>
                                <li *ngSwitchCase="'badge-SB'">
                                    <svg class="hdca-product-box__badge-svg" aria-hidden="true">
                                        <use xlink:href="/assets/icons/product-en-sprite/svg/symbols.svg#badge-SB">
                                        </use>
                                    </svg>
                                </li>
                                <li *ngSwitchCase="'badge-ES'">
                                    <svg class="hdca-product-box__badge-svg" aria-hidden="true">
                                        <use xlink:href="/assets/icons/product-en-sprite/svg/symbols.svg#badge-ES">
                                        </use>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                    </a>
                </section>
                <section class="hdca-product-box__main">
                    <div class="hdca-product-box__main-info">
                        <link itemprop="url" href="#" />
                        <a href="#" class="hdca-product-box__main-info-label hdca-product-box__main-info-label--link">
                            <!-- Implementing Interpolation to fetch detals for a particular product and displayon the front end -->
                            <span
                                class="hdca-product-box__main-info-label-entry hdca-product-box__main-info-label-entry--brand"
                                itemprop="manufacturer">{{product.brand}}</span>
                            <span class="hdca-product-box__main-info-label-entry"
                                itemprop="name">{{product.title}}</span>
                        </a>
                        <a href="#" class="hdca-product-box__main-info-detail hdca-product-box__main-info-detail--link">
                            <div class="hdca-product-box__main-info-detail-entry">Model #
                                <!-- Implementing Interpolation to fetch detals for a particular product and displayon the front end -->
                                <span itemprop="model">{{product.model}}</span>
                            </div>
                            <div class="hdca-product-box__main-info-detail-entry">SKU #
                                <!-- Implementing Interpolation to fetch detals for a particular product and displayon the front end -->
                                <span itemprop="sku">{{product.id}}</span>
                            </div>
                        </a>
                        <div class="hdca-product-box__main-info-rating" itemprop="aggregateRating" itemscope=""
                            itemtype="http://schema.org/AggregateRating">
                            <a href="#rating" class="hdca-product-box__main-info-rating-link">
                                <div class="hdca-product-box__main-info-rating-link-stars" *ngIf='product.rating'>
                                    <!-- Implementing attribute binding for style attribute to show rating based on json data -->
                                    <span class="hdca-product-box__main-info-rating-link-stars-overlay"
                                        [style.width]="(product.rating)* 20 + '%' "></span>
                                </div>
                                <div class="hdca-product-box__main-info-rating-link-stars"
                                    *ngIf='product.rating == null'>
                                    <span class="hdca-product-box__main-info-rating-link-stars-overlay"
                                        style="width: 0% "></span>
                                </div>
                                <meta itemprop="worstRating" content="1" />
                                <meta itemprop="ratingValue" content="3" />
                                <meta itemprop="bestRating" content="5" />
                            </a>
                        </div>
                    </div>
                    <div class="hdca-product-box__main-purchase">
                        <div class="hdca-product-box__main-purchase-price" itemprop="offers" itemscope=""
                            itemtype="http://schema.org/Offer">
                            <span itemprop="priceCurrency" content="CAD"></span>
                            <link itemprop="itemCondition" href="http://schema.org/NewCondition" content="New" />
                            <div class="hdca-product-box__main-purchase-price-entry">
                                <span
                                    class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--primary">{{product.price2}}</span>
                                <span class="hdca-product-box__main-purchase-price-entry-content"> /
                                    {{product.cuom2}}</span>
                            </div>
                            <div class="hdca-product-box__main-purchase-price-entry">
                                <span class="hdca-product-box__main-purchase-price-entry-content">
                                    <!-- Implementing currency pipe to display price/value in canadian dollars -->
                                    <span itemprop="price">{{product.price1 | currency: CAD}}</span> /
                                    {{product.cuom1}}</span>
                            </div>
                            <div
                                class="hdca-product-box__main-purchase-price-entry hdca-product-box__main-purchase-price-entry--savings">
                                <time itemprop="priceValidUntil" datetime="2020-11-05"></time>
                                <span
                                    class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--primary">Save
                                    {{product.saving}} %</span>
                                <span
                                    class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--was">
                                    Was {{product.was | currency : CAD}}</span>
                            </div>
                        </div>
                        <div
                            class="hdca-product-box__main-purchase-action hdca-product-box__main-purchase-action--tool-rental">
                            <div>
                                <!-- Implementing ngIf structural directive to display data based on condition -->
                                <div *ngIf="product.addToCart == 'addToCart'">
                                    <button id="button-1379"
                                        class="hdca-button2 hdca-button2--primary hdca-button2--is-narrow hdca-product-box__main-purchase-action-item"
                                        [routerLink]="['/cart']" (click)="addToCart(product)">
                                        <span class="hdca-button2__label">{{product.addToCart}}</span>
                                    </button>
                                </div>
                                <div *ngIf="product.addToCart == 'viewDetails'">
                                    <button id="button-1379"
                                        class="hdca-button2 hdca-button2--primary hdca-button2--is-narrow hdca-product-box__main-purchase-action-item">
                                        <span class="hdca-button2__label">{{product.addToCart}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>
</section>